<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>edu</display-name>
  <context-param>
  	<param-name>contextConfig</param-name>
  	<param-value>/WEB-INF/context.xml</param-value>
  </context-param>
  
  <filter>
  	<filter-name>flow1</filter-name>
  	<filter-class>com.edu.test.FlowFilterOne</filter-class>
  </filter>
  <filter>
  	<filter-name>flow2</filter-name>
  	<filter-class>com.edu.test.FlowFilterTwo</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>flow1</filter-name>
  	<url-pattern>/second</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>flow2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>initParam</servlet-name>
  	<servlet-class>com.edu.test.InitParamServlet</servlet-class>
  	<init-param>
  		<param-name>id</param-name>
  		<param-value>guest</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>1004</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>initParam</servlet-name>
  	<url-pattern>/initParam</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>servletConfigTest</servlet-name>
  	<servlet-class>com.edu.test.ServletConfigTestServlet</servlet-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletConfigTest</servlet-name>
  	<url-pattern>/servletConfigTest</url-pattern>
  </servlet-mapping>
  
  
</web-app>